{% extends "base.html" %}

{% block head_title %}{{ user.username }} | {{ block.super }}{% endblock head_title %}

{% block content %}

<h1>{{ user.username }}</h1>
<p>{% include 'profiles/snippets/follow_form.html' with username=user.username is_following=is_following %}</p>
<!-- {{ request.user.is_following.all }}
{% if user.profile in request.user.is_following.all %}
	Is Following
{% endif%}
 -->
<form class='form' method='GET' action='.'>
	<input type='text' placeholder="Search.." name='q' value='{{ request.GET.q }}'>
	<button class='btn btn-default' type='submit'>Search</button>
</form>
<hr/>

{% if locations %}
{% for rest in locations %}
<div class='row'>
<div class='col-sm-12'>
	<div class='thumbnail'>  <!-- v4 card card-default -->
	<h4>{{ rest.title }}</h4>
	<p><a href='{{ request.path }}?q={{ rest.location }}'>{{ rest.location }}</a> | 
		<a href='{{ request.path }}?q={{ rest.category }}'>{{ rest.category }}</a></p>
	{% if rest.item_set.all.exists %}
	<ul>
		{% for item in rest.item_set.all %}
		<li style='margin-bottom: 15px;'><b>{{ item.name }}</b><br/>
			<!-- {{ item.contents }} -->
			{% for ing in item.get_contents %}
				<span style='padding: 2px 4px; margin-right:4px; background-color:#ccc'>
					<a href='{{ request.path }}?q={{ ing }}'>{{ ing }}</a>
				</span>
			{% endfor %}
		</li>
		{% endfor %}
	</ul>
	{% else %}
	<p>No Menus Found</p>
	{% endif %}
	</div>
</div>
</div>
{% endfor %}

{% else %}
<p class='lead'>No Restaurants Found</p>
{% endif %}

{% endblock %}