{% extends "base.html" %}

{% block head_title %}Restaurants | {{ block.super }}{% endblock head_title %}

{% block content %}
<h1>My Restaurants</h1>
<a href='{% url "restaurants:create" %}'>Add</a>

<ul>
	{% for obj in object_list %}
		<li><a href='{{ obj.get_absolute_url }}'>{{ obj }}</a></br>
			<!-- <a href="/restaurants/{{ obj.slug }}">{{ obj }}</a> -->
		{{ obj.name }} {{ obj.location }} {{ obj.category }} {{ obj.timestamp }} {{ obj.updated }}</li>
		{% empty %}
		<li><a href='{% url "restaurants:create" %}'>Add One</a></li>
	{% endfor %}
</ul>
{% endblock %}